
body{font-family: 'Slabo 27px', sans-serif;font-size:15px}
body b{font-family: 'Slabo 27px', sans-serif;color:#2477C4;font-weight:400}




.all-title.text-center > h2 {
  color: #4278ab;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 15px;
  padding-top: 30px;
  position: relative;
  font-family: 'Slabo 27px', sans-serif;
}

.all-title.text-center > h2::after {
  background: #4278ab none repeat scroll 0 0;
  bottom: 10px;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  width: 120px;
}

.title-para h5 {
 font-size: 18px;
line-height: 23px;
text-align: justify;

}

.all-des li {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 20px;
}

.label-primary {
  background-color: #4278ab;
  font-size: 12px !important;
  padding: 2px 5px !important;
}

.all-des a {
  color: #4278ab;
  font-size: 15px !important;
}

.all-des b {
  color: #4278ab;
font-family: "Slabo 27px",sans-serif;
font-size: 15px;
font-weight: 400;
}

.footer-des > h5 {
  line-height: 27px;
  text-align: center;
}


.footer-des a:hover {
  color: #4278ab;
}

.collapse.navbar-collapse ul.nav.navbar-nav {
  float: right;
}

.collapse.navbar-collapse ul.nav.navbar-nav li {
  padding: 4px 14px;
}
.collapse.navbar-collapse ul.nav.navbar-nav li a {
  color: #fff;
}

h2, .h2 {
  color: #4278ab;
  font-size: 50px;
}






.navbar.navbar-fixed-top.navbar-inverse {
  background-color: #4278ab;
}


.navbar-header a.navbar-brand {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}


@media (max-width: 800px) { 

#myCarousel {
        display:none !important;
    }
 
.collapse.navbar-collapse ul.nav.navbar-nav {
  float: left;
}  

.navbar-brand {
  opacity: 0;
}
 
}

//This is for news panel
.glyphicon
{
    margin-right:10px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:0px 0px;
    margin:0px;
    border-bottom:1px dotted #555; 
}
#jquery-script-menu {
position: fixed;
height: 90px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #316594;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px 0;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

.jquery-script-center {
width: 960px;
margin: 0 auto;
}
.jquery-script-center ul {
width: 212px;
float:left;
line-height:45px;
margin:0;
padding:0;
list-style:none;
}
.jquery-script-center a {
	text-decoration:none;
}
.jquery-script-ads {
width: 728px;
height:90px;
float:right;
}
.jquery-script-clear {
clear:both;
height:0;
}